<h1>Welcome! Please enter the number to guess between 1-100!</h1>

<%= form_tag "/params_guess_send", method: :post do %>
  <div>
    <label for="Guess">Enter Guess:</label> <input type="text" name="form_message" id="Guess">
  </div>
  <input type="submit" value="Send Message">
<% end %>
